/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */



@charset "utf-8";

// Brand Colors
$indigo: #282661;
$violet: #662F8F;
$magenta: #9E2165;
$crimson: #CB2138;
$orange: #EA7826;
$goldenrod: #F79A25;
$gray: #6D6E71;
$gray-light: lighten($gray, 50%);
$red: #D22128;

// Bulma default style overrides
$family-sans-serif: "Open Sans",sans-serif;
$link: $indigo;
$primary: $magenta;
$warning: $orange;
$danger: $crimson;
$navbar-height: 5rem;
$navbar-item-img-max-height: 4rem;
$modal-z: 2000;
$selected: $violet;