/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

@import 'fonts';
@import 'overrides';
@import "../../node_modules/bulma/bulma.sass";
@import "../../node_modules/datatables-bulma/css/dataTables.bulma.css";
body.cms {
	min-height: 100vh;
	@media screen and (min-width: $tablet), print {
		background: url(../img/gradient.jpg) no-repeat;
	}
	@media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
		padding-left: 2em;
	}
}

dl {
	padding: 1em 0;
}

dd {
	padding-left: 1em;
}

dt {
	font-weight: bold;
}

h1 {
	font-size: 200%;
}

h2 {
	font-size: 180%;
}

h3 {
	font-size: 160%;
}

h4 {
	font-size: 140%;
}

h5 {
	font-size: 120%;
}

.is-draggable {
	position: relative;
}

.menu-label {
	text-transform: none;
	font-size: 1.25em;
	letter-spacing: normal;
}

.note-group-select-from-files {
	display: none;
}

.note-toolbar-wrapper {
	height: auto !important;
}

.reference-list {
	max-height: 200px;
	overflow: auto;
}

.preview {
	max-width: 100%;
	padding: 1em;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
	font-family: 'jam-icons';
}

table.dataTable thead .sorting:after {
	content: "\e943"
}

table.dataTable thead .sorting_asc:after {
	content: "\e93f"
}

table.dataTable thead .sorting_desc:after {
	content: "\e92a"
}

.table tr.is-selected {
	background-color: lighten($gray, 50%);
	color: $grey-darker;
}